<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909962256879-7t5lgh2n9mnpgcthr1jl6b1mdjb5i70f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909962256879-7t5lgh2n9mnpgcthr1jl6b1mdjb5i70f</string>
	<key>API_KEY</key>
	<string>AIzaSyDkUW2En_kfl6E_Sr5WeDgLE5-XiRXjhKA</string>
	<key>GCM_SENDER_ID</key>
	<string>909962256879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memeglobal.memebike</string>
	<key>PROJECT_ID</key>
	<string>meme-bike</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-bike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909962256879:ios:7f606ef4246be2c98bd61a</string>
</dict>
</plist>